In [3]:
import pandas as pd
import numpy as np

In [5]:
data = pd.read_csv('train.csv')

In [13]:
arr1=[]
arr2=[]
mean=[]
std=[]
for i in data.sort_values(by='Pclass').drop_duplicates('Pclass')['Pclass']:
    for j in data.dropna(subset = ['Embarked']).drop_duplicates('Embarked')['Embarked']:
        arr1.append(i)
        arr2.append(j)
        mean.append(int(pd.DataFrame(data[(data['Pclass']==i) & (data['Embarked']==j)]['Fare']).mean()))
        std.append(int(pd.DataFrame(data[(data['Pclass']==i) & (data['Embarked']==j)]['Fare']).std()))
        
fin = pd.DataFrame({'Pclass':arr1, 'Embarked':arr2, 'mean':mean, 'std':std})
fin = fin[['Pclass','Embarked','mean','std']]
sel = frame
sel.head()

   Pclass Embarked  mean  std
0       1        S    70   58
1       1        C   104   99
2       1        Q    90    0
3       2        S    20   13
4       2        C    25   11

In [14]:
sel.to_csv("6.csv", index=False)