In [1]:
import pandas as pd
import numpy as np

In [5]:
dataset=pd.read_csv('train.csv')
titles = pd.read_csv('7.csv')

dataset['Title'] = titles['Title']

In [6]:
arr = []
for i in dataset['Title'].drop_duplicates():
    arr.append(i)

In [8]:
final = pd.DataFrame({'Title':arr})
ttl = final
ttl

        Title
0         Mr.
1        Mrs.
2       Miss.
3     Master.
4        Don.
5        Rev.
6         Dr.
7        Mme.
8         Ms.
9      Major.
10      Lady.
11       Sir.
12      Mlle.
13       Col.
14      Capt.
15        the
16  Jonkheer.

In [10]:
ttl.to_csv("9.csv", index=False)