In [2]:
import pandas as pd
import numpy as np

In [3]:
dataset=pd.read_csv('train.csv')

In [5]:
dataset.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
one = dataset[dataset['Pclass']==1]
two = dataset[dataset['Pclass']==2]
three = dataset[dataset['Pclass']==3]
print('Survival rate for class 1 is : ', one['Survived'].mean())
print('Survival rate for class 2 is : ', two['Survived'].mean())
print('Survival rate for class 3 is : ', three['Survived'].mean())

Survival rate for class 1 is :  0.6296296296296297
Survival rate for class 2 is :  0.47282608695652173
Survival rate for class 3 is :  0.24236252545824846

In [8]:
sel = pd.DataFrame({'Pclass' :[1,2,3], 'Survived' : [one,two,three]})
sel.head()

,Pclass,Survived
0,1,PassengerId Survived Pclass \ 1 ...
1,2,PassengerId Survived Pclass \ 9 ...
2,3,PassengerId Survived Pclass \ 0 ...